body {
  /* display: flex; */
  /* flex-direction: column; */
  min-height: 100vh;
  margin: 0;
  padding: 0;
}



.nav-container {
  /* padding:20px; /높이 조절 */
  position: relative; /* 상대적 위치 지정 */
  border-bottom: 3px solid rgba(168, 184, 76, 0.8); /* 네브밑 밑줄 추가 */
  color: green;
  min-height: 20%;
  font-size: 1em;
}

.nav-container span{
  margin-left: 8px;
   font-weight: bold; 
   font-size: 20px; 
   color: green;
   font-size:1.5em;
}

.nav-item a{
  color: rgb(99, 100, 89);
}

/*hamburger*/
.fa-solid {
  color: green;
}

/*** footer 포지션 변경 ***/
footer {
  width: 100%;
  padding: 20px 0;
  background-color: rgb(1, 43, 1);
  color: white;
  text-align: center;
  position: fixed;
  bottom:0;
 }  

/* 추가적인 스타일 */
.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-style a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-style a:hover {
  font-size: 180%;
  color: green;
}

.footer-text {
  margin-top: 10px;
  font-size: 14px;
}

.footer-text-top a {
  color: #ddd;
  text-decoration: none;
}

/* 하단 푸터가 항상 보이도록 설정 */
.nav-search-results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-text {
  text-align: center;
  font-size: 14px;
  color: rgb(172, 219, 187);
  padding: 10px 0;
}

.footer-text-top {
  display: inline-block;
}

.footer-text-bottom {
  display: inline-block;
}


.footer-address-style {
  color: #cb1717a8;
  text-decoration: none;
}

.footer-address-style:hover {
  text-decoration: underline;
}

/* Media */


@media (max-width: 768px) {

  .footer-text-top,
  .footer-text-bottom {
    display: block;
  }
}

@media (max-width: 450px) {
  .footer-text-bottom {
    display: none;
  }

  .footer-text-top {
    margin-bottom: 2em;
  }
}

/*News Page*/
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.nav-container {
  position: relative; 
  border-bottom: 3px solid rgba(168, 184, 76, 0.8);
  color: green;
  min-height: 20%;
  font-size: 1em;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
}

.nav-container span {
  margin-left: 8px;
  font-weight: bold;
  font-size: 1.5em;
  color: green;
}

.nav-item a {
  color: rgb(99, 100, 89);
}

/* Main */ 
.contact-search-container {
  display: flex;               
  justify-content: center;     
  align-items: center;        
  width: 40%;
  margin: 2em auto 0 auto;     /* 위쪽 여백 2em, 좌우는 자동으로 맞추어짐 */
}

/*Search*/ 
.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid rgba(168, 184, 76, 0.8);
  transition: all 0.3s ease;
  margin-right: 1em;
}

.search-input:focus {
  outline: none;
  border-color: #6b8e23;
  box-shadow: 0 8px 10px rgba(135, 230, 121, 0.1);
}

.filter-input {
  width: 40%;
  padding: 10px;
  font-size: 15px;
  border: 2px solid rgba(168, 184, 76, 0.8);
  transition: all 0.3s ease;
  margin-right: 1em;
}

/*News Board*/ 
#news-board {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}


.news {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);  
  border-radius: 10px; 
  background-color: #ffffff; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;  
  margin-bottom: 1em;
}

.news:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}

.news-image-size {
  max-width: 350px;
  max-height: 500px;
  padding: 0;
}

/* 뉴스 카드 이미지 스타일 */
.news-image {
  width: 100%;  
  height: 100%;
  object-fit: cover;  
  display: block;  
  margin: 0;  
  padding: 0;  
}

.news .news-image-container {
  padding: 0;
  margin: 0;
  overflow: hidden;  /* 이미지가 부모를 넘지 않도록 설정 */
}


.news h3 {
  font-size: 22px;
  color: rgb(2, 50, 2);
  font-weight: bold;
}

.news p {
  font-size: 14px;
  color: #555;
}

.news a {
  font-size: 16px;
  color: green;
  text-decoration: none;
}

.news a:hover {
  text-decoration: underline;
}

.news-content {
  margin-top: 1em;
}

/*Footer*/
footer {
  width: 100%;
  padding: 20px 0;
  background-color: #006400;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-style a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-style a:hover {
  font-size: 180%;
  color: #a8b84c;
}

.footer-text {
  margin-top: 10px;
  font-size: 14px;
}

.footer-text-top a {
  color: #ddd;
  text-decoration: none;
}

.footer-address-style {
  color: #cb1717a8;
}

.footer-address-style:hover {
  text-decoration: underline;
}



@media (min-width: 450px) and (max-width: 1024px) { /* 태블릿  */
  .nav-container {
    font-size: 0.9em; 
  }

  .news {
    display: block; 
    text-align: center;  
  }

  .news h3 {
    font-size: 18px; 
  }

  .news p {
    font-size: 12px; 
  }

  .search-input {
    width: 200%;
    font-size: 12px; 
  }

  .filter-input {
    width: 100%;
    font-size: 12px; 
  }

  .contact-search-container {
    display: flex;
    align-items: center;
    width: 100%; /* Ensure the container takes up the full width */
    margin: 2em auto 0 auto;
  }

  .search-input {
    width: 68%%; /* Search input will take up 80% of the container width */
    margin-right: 5px; /* Optional: add some space between the inputs */
  }

  .filter-input {
    width: 20%; /* Filter dropdown will take up 20% of the container width */
  }
}

@media (max-width: 768px) {
  .contact-search-container {
    display: flex;
    align-items: center;
    width: 100%; 
    margin: 2em auto 0 auto;
  }

  .search-input {
    width: 68%; 
    margin-right: 5px; 
  }

  .filter-input {
    width: 20%; 
  }
}

@media (max-width: 450px) { 
  .nav-container {
    font-size: 0.9em; 
  }

  .news {
    display: block; 
    text-align: center;  
  }

  .news h3 {
    font-size: 16px; 
  }

  .news p {
    font-size: 10px; 
  }

  .search-input {
    width: 68%;
    font-size: 12px; 
  }

  .filter-input {
    width: 20%;
    font-size: 12px; 
  }
}

